/* === CSS RESET === */
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a img {
    border:0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End of CSS RESET === */


/* layout < */
body, html {
    background: #fff;
    position: relative;
    height: 100%;
    min-width: 240px;
}


.frame {
    background: #282828; /* это цвет рамки */
    padding: 32px 80px 32px 17px; /* это ширина рамок сверху, справа, снизу, слева */
    position: relative;
}

.screen {
    background: #fff;  /* это цвет фона для контента */
    padding: 17px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.screen__inner {
    position: relative;
}
.screen_home-page .screen__inner {
    margin: 0 17px;
}

/* layout > */

/* common < */

.link_btn {
    text-decoration: none;
}

/* common > */

/* panel < */

.panel {
    position: absolute;
    right: 0;
    top:50px;
    height: 100%;
    width: 80px;
    z-index: 10;
}

.logo {
    position: absolute;
    top:-5px;
    right: 20px;
    padding: 6px 0;
    text-align: center;
    width: 32px;
}


.email {
    position: absolute;
    bottom:-5px;
    right: 20px;
    padding: 6px 0;
    text-align: center;
    width: 32px;
}

/* panel > */

/* nav < */
.nav {
    left:50%;
    margin-left: -40px;
    position: absolute;
    top:50%;
    width: 80px;
}

.nav__item {
    height: 32px;
    margin:18px 0;
    position: relative;
    padding: 0 24px;
    width: auto;
}
.nav__item a {
    text-decoration: none;
    display: table-cell;
    height: 31px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle;
    width: 32px;
}

.nav__item > a {
    background: #282828;
    position: relative;
}

/* nav > */

/* icons < */


.ico {
   font-family: 'FontAwesome';
    display: inline-block;
    color: #fff;
    font-size: 1em;
}

.ico_logo { background-position: 0 0; width: 16px; height: 16px; }



.ico_like:before {
  content: "\f004";
}

.ico_fb:before {
  content: "\f082";
}

.ico_vk:before {
  content: "\f189";
}
.ico_pinterest:before {
  content: "\f0d3";
}
.ico_tw:before {
  content: "\f081";
}

.ico_quote-up:before {
  content: "\f10d";
}
.ico_quote-down:before {
  content: "\f10e";
}

.ico_user:before {
  content: "\f007";
}
.ico_send-form:before {
  content: "\f0e0";
}
.ico_complete-send:before {
  content: "\f0e0";
}
.ico_mail:before {
  content: "\f003";
}
.ico_mail-dark {
    content: "\f003";
}
.ico_arrow-up:before {
  content: "\f062";
}
.ico_arrow-down:before {
  content: "\f063";
}
.ico_loup:before {
  content: "\f00e";
}
.ico_upload:before {
  content: "\f093";
}
.ico_edit:before {
  content: "\f040";
}
.ico_add:before {
  content: "\f067";
}
.ico_close:before {
  content: "\f00d";
}
.ico_close-gray:before {
  content: "\f00d";
}

.ico_next:before {
  content: "\f054";
}
.ico_prev:before {
  content: "\f053";
}



.panel a:hover .ico,
.panel .ico:hover,
.nav__item_dropdown:hover a > .ico,
.nav .nav__item_dropdown  a:hover .ico {
    transition: opacity 0.5s;
    opacity: 0.5;
}
/* icons > */

/* form styles < */

.form,
input,
textarea,
select {
    color: #b1b1b1;
    font-family: 'helveticaneuecyrheavy';
    font-size: 12px;
    line-height: 14px;
}

textarea {
	overflow: auto;
}

.fields-list,
.fields-list__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
    background: none;
}
.fields-list__item {
    margin-bottom: 16px;
    position: relative;
}

.label {

}
.label .ico_user {
    position: absolute;
    top:6px;
    left:7px;
}
.label .ico_mail-dark {
    position: absolute;
    top:8px;
    left:5px;
}
.label .ico_quote-up {
    position: absolute;
    top:8px;
    left:6px;
}
.label .ico_quote-down {
    position: absolute;
    bottom:8px;
    right:6px;
}
.field_text {
    background: none;
    height:18px;
    border:1px solid #787878;
    padding:5px 10px 5px 28px;
    position: relative;
    width:215px;
}

.field_textarea {
    background: none;
    height:20px;
    border:1px solid #787878;
    padding:5px 28px;
    width:197px;
    min-height:84px;
    max-width: 197px;
    max-height: 324px;
    overflow: hidden !important;
    resize: none;
}

.btn {
    background: #787878 url(../images/bg/icons.png) no-repeat 0 -131px;
    width: 32px;
    height: 32px;
    border-color: #787878;
    border-style: solid;
    border-width: 10px 8px 11px;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}


/* form styles > */

.clearfix:after,
.menu:after,
.fields-list:after,
.columns:after,
.thumbnails-list:after, 
.works-form-list__item:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}