/* === CSS RESET === */
html, body, div, span, applet,
object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a img {
    border:0;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End of CSS RESET === */


/* layout < */
body, html {
    background: #fff;
    position: relative;
    height: 100%;
    min-width: 240px;
}


.frame {
    background: #282828; /* это цвет рамки */
    padding: 32px 80px 32px 17px; /* это ширина рамок сверху, справа, снизу, слева */
    position: relative;
}

.screen {
    background: #fff;  /* это цвет фона для контента */
    padding: 17px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.screen__inner {
    position: relative;
}
.screen_home-page .screen__inner {
    margin: 0 17px;
}

/* layout > */

/* common < */

.link_btn {
    text-decoration: none;
}

/* common > */

/* panel < */

.panel {
    position: absolute;
    right: 0;
    top:50px;
    height: 100%;
    width: 80px;
    z-index: 10;
}

.logo {
    position: absolute;
    top:-5px;
    right: 23px;
    padding: 6px 0;
    text-align: center;
    width: 32px;
}


.email {
    position: absolute;
    bottom:-5px;
    right: 23px;
    padding: 6px 0;
    text-align: center;
    width: 32px;
}

/* panel > */

/* nav < */
.nav {
    left:50%;
    margin-left: -40px;
    position: absolute;
    top:50%;
    width: 80px;
}

.nav__item {
    height: 32px;
    margin:18px 0;
    position: relative;
    padding: 0 24px;
    width: auto;
}
.nav__item a {
    text-decoration: none;
    display: table-cell;
    height: 31px;
    padding-top: 1px;
    text-align: center;
    vertical-align: middle;
    width: 32px;
}

.nav__item > a {
    background: #282828;
    position: relative;
}

/* nav > */

/* icons < */

.ico {
    background: url(../images/bg/icons.png) no-repeat 0 0;
    display: inline-block;
}

.ico_logo { background-position: 0 0; width: 16px; height: 16px; }
.ico_fb { background-position: 0 -20px; width: 15px; height: 15px; }
.ico_like{ background-position: 0 -39px; width: 18px; height: 15px; }
.ico_quote-up{ background-position: 0 -58px; width: 16px; height: 14px; }
.ico_quote-down{ background-position: 0 -76px; width: 16px; height: 14px; }
.ico_mail-dark{ background-position: 0 -94px; width: 18px; height: 14px; }
.ico_user { background-position: 0 -112px; width: 14px; height: 15px; }
.ico_send-form{ background-position: 0 -131px; width: 16px; height: 11px; }
.ico_complete-send{ background-position: 0 -146px; width: 64px; height: 49px; }
.ico_close-gray{ background-position: 0 -199px; width: 9px; height: 9px; }
.ico_arrow-up{ background-position: 0 -212px; width: 11px; height: 11px; }
.ico_mail{ background-position: 0 -227px; width: 17px; height: 14px; }
.ico_arrow-down{ background-position: 0 -245px; width: 11px; height: 11px; }
.ico_loup{ background-position: 0 -260px; width: 13px; height: 12px; }
.ico_upload { background-position: 0 -276px; width: 13px; height: 11px; }
.ico_edit{ background-position: 0 -291px; width: 12px; height: 12px; }
.ico_add{ background-position: 0 -307px; width: 13px; height: 14px; }
.ico_close{ background-position: 0 -325px; width: 12px; height: 12px; }
.ico_next{ background-position: 0 -341px; width: 10px; height: 15px; }
.ico_prev { background-position: 0 -360px; width: 10px; height: 15px; }
.ico_like{ background-position: 0 -379px; width: 18px; height: 15px; }
.ico_vk { background-position: 0 -398px; width: 15px; height: 15px; }
.ico_pinterest{ background-position: 0 -417px; width: 15px; height: 15px; }
.ico_tw {background-position: 0 -436px; width: 15px; height: 15px; }
.ico_ready {background-position: -20px 0; width: 15px; height: 15px; }
.ico_plus {background-position: -21px -17px; width: 11px; height: 11px;}

.panel a:hover .ico,
.panel .ico:hover,
.nav__item_dropdown:hover a > .ico,
.nav .nav__item_dropdown  a:hover .ico {
    transition: opacity 0.5s;
    opacity: 0.5;
}
/* icons > */

/* form styles < */

.form,
input,
textarea,
select {
    color: #b1b1b1;
    font-family: 'helveticaneuecyrheavy';
    font-size: 12px;
    line-height: 14px;
}

textarea {
	overflow: auto;
}

.fields-list,
.fields-list__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
    background: none;
}
.fields-list__item {
    margin-bottom: 16px;
    position: relative;
}

.label .ico {
    position: absolute;
    z-index: 2;
}
.label .ico_user {
    top:6px;
    left:7px;
}
.label .ico_mail-dark {
    top:8px;
    left:5px;
}
.label .ico_quote-up {
    top:8px;
    left:6px;
}
.label .ico_quote-down {
    bottom:8px;
    right:6px;
}
.label .ico_edit {
    top:9px;
    left:7px;
}
.label .ico_upload {
    top:8px;
    left:7px;
}
.field_text {
    background: none;
    height:18px;
    border:1px solid #787878;
    padding:5px 10px 5px 28px;
    position: relative;
    width:215px;
}

.field_textarea {
    background: none;
    height:20px;
    border:1px solid #787878;
    padding:5px 28px;
    width:197px;
    min-height:84px;
    max-width: 197px;
    max-height: 324px;
    overflow: hidden !important;
    resize: none;
}

.btn {
    background: #787878 url(../images/bg/icons.png) no-repeat 0 -131px;
    width: 32px;
    height: 32px;
    border-color: #787878;
    border-style: solid;
    border-width: 10px 8px 11px;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}

.form-button {
    background: none;
    border:1px solid #787878;
    position: relative;
    height: 30px;
    z-index: 10;
}
.form-button__input {
    background: none;
    border:0;
    padding:5px 10px 5px 10px;
    height: 30px;
    text-align: left;
    cursor: pointer;
    width:233px;
}
.form-button_icon .form-button__input {
    padding:5px 10px 5px 28px;
    width:215px;
}

.form-button_icon .ico {
    position: absolute;
    z-index: 1;
}
.form-button_icon .ico_plus {
    left:7px;
    top:8px;
}

/* form styles > */

/* media queries < */

@media screen and (max-width : 319px) {

    .screen_home-page .screen__inner  {
	margin: 0 5px;
    }

    .thumbnails-list__item {
	width: 100%;
    }
    .thumbnails-list__item .thumbnail {
	margin: 2px 0 0 0;
    }
}

@media screen
and (min-width : 320px)
and (max-width : 479px) {

    .screen_home-page .screen__inner  {
	margin: 0 17px;
    }

    .thumbnails-list__item {
	width: 100%;
    }
    .thumbnails-list__item .thumbnail {
	margin: 2px 0 0 0;
    }
}

@media screen
and (min-width : 480px)
and (max-width : 719px) {

    .screen_home-page .screen__inner  {
	margin: 0 17px;
    }

    .thumbnails-list__item {
	width: 50%;
    }
}

@media screen
and (min-width : 720px)
and (max-width : 767px) {

    .screen_home-page .screen__inner  {
	margin: 0 9px;
    }

    .thumbnails-list__item {
	width: 50%;
    }
}

@media screen
and (min-width : 768px)
and (max-width : 1023px) {

    .thumbnails-list__item {
	width: 33.3333333333333333%;
    }
}

@media screen
and (min-width : 1023px)
and (max-width : 1199px) {

    .thumbnails-list__item {
	width: 25%;
    }
}
@media only screen
and (min-width : 1200px)
and (max-width : 1599px) {

    .thumbnails-list__item {
	width: 20%;
    }
}

@media screen
and (min-width : 1600px)
and (max-width : 1919px) {

    .thumbnails-list__item {
	width: 16.666666666%;
    }
}
@media screen
and (min-width : 1920px) {

    .thumbnails-list__item {
	width: 14.2857142857%;
    }
}


/* media queries > */


.clearfix:after,
.menu:after,
.fields-list:after,
.columns:after,
.thumbnails-list:after,
.works-form-list__item:after {
    content: ".";
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}