body, html {
    position: relative;
    height: 100%;
}








.menu,
.menu__item {
    margin: 0;
    padding: 0;
    list-style: none outside;
}


/* nav < */
.nav {
    
}

/* nav > */

/* form styles < */

.form,
input,
textarea,
select {
    color: #FFFFFF;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 16px;
    line-height: 20px;
}
input,
textarea {
    -moz-box-sizing: content-box;
}
textarea {
	overflow: auto;
}

.form .fields-list,
.form .fields-list .fields-list__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
    background: none;
}
.form .fields-list .fields-list__item {
    margin-top: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.field_text {
    background: rgba(40, 40, 40, 0.5);
    height:18px;
    border:1px solid #a2a2a2;
    padding:2px 2%;
    width:95%;
}
.field_textarea {
    background: rgba(40, 40, 40, 0.5);
    height:93px;
    border:1px solid #a2a2a2;
    padding:2px 2%;
    width:95%;
    resize: none;
}
/* form styles > */