/* layout < */
body, html {
    background: #fff;
    position: relative;
    height: 100%;
    min-width: 240px;
}


.frame {
    background: #282828; /* это цвет рамки */
    padding: 32px 80px 32px 17px; /* это ширина рамок сверху, справа, снизу, слева */
    position: relative;
}

.screen {
    background: #fff;  /* это цвет фона для контента */
    padding: 17px 0;
    position: relative;
    background-size: cover auto;
}
.screen__inner {
    padding: 0 17px;
    position: relative;
}

/* layout > */

/* panel < */

.panel {
    position: absolute;
    right: 0;
    top:50px;
    width: 80px;
}


/* panel > */

/* .promo-place < */


.promo-place img {
    display: block;
    height: auto;
    width: 100%;
}

/* .promo-place > */

/* thumbnails < */

.thumbnail {
    display: block;
    text-decoration: none;
    padding: 0;
}

.thumbnail__image {
    display: block;
    height: auto;
    width: 100%;
}

.thumbnails-list {
    margin: 0 0 0 -2px;
    padding: 0;
}
.thumbnails-list__item {
    list-style: none;
    padding: 0;
    width: 20%;
    float: left;
}

.thumbnails-list__item .thumbnail {
    margin: 2px 0 0 2px; /* это отступы между превьюшками сверху справа снизу слева */
}

/* thumbnails > */




/* nav < */
.nav {

}

/* nav > */

/* icons <  */
.ico {
    background: url(../images/bg/icons.png) no-repeat 0 0;
    display: block;
}

.ico_logo { background-position: 0 0; width: 16px; height: 16px; }
.ico_fb { background-position: 0 -20px; width: 15px; height: 15px; }
.ico_like{ background-position: 0 -39px; width: 18px; height: 15px; }
.ico_quote-up{ background-position: 0 -58px; width: 16px; height: 14px; }
.ico_quote-down{ background-position: 0 -76px; width: 16px; height: 14px; }
.ico_mail-dark{ background-position: 0 -94px; width: 18px; height: 14px; }
.ico_user { background-position: 0 -112px; width: 14px; height: 15px; }
.ico_send-form{ background-position: 0 -131px; width: 16px; height: 11px; }
.ico_complete-send{ background-position: 0 -146px; width: 64px; height: 49px; }
.ico_close-gray{ background-position: 0 -199px; width: 9px; height: 9px; }
.ico_arrow-up{ background-position: 0 -212px; width: 11px; height: 11px; }
.ico_mail{ background-position: 0 -227px; width: 17px; height: 14px; }
.ico_arrow-down{ background-position: 0 -245px; width: 11px; height: 11px; }
.ico_loup{ background-position: 0 -260px; width: 13px; height: 12px; }
.ico_upload { background-position: 0 -276px; width: 13px; height: 11px; }
.ico_edit{ background-position: 0 -291px; width: 12px; height: 12px; }
.ico_add{ background-position: 0 -307px; width: 13px; height: 14px; }
.ico_close{ background-position: 0 -325px; width: 12px; height: 12px; }
.ico_next{ background-position: 0 -341px; width: 10px; height: 15px; }
.ico_prev { background-position: 0 -360px; width: 10px; height: 15px; }
.ico_like{ background-position: 0 -379px; width: 18px; height: 15px; }
.ico_vk { background-position: 0 -398px; width: 15px; height: 15px; }
.ico_pinterest{ background-position: 0 -417px; width: 15px; height: 15px; }
.ico_tw {background-position: 0 -436px; width: 15px; height: 15px; }


/* icons > */

/* form styles < */

.form,
input,
textarea,
select {
    color: #FFFFFF;
    font-family: 'pf_din_text_cond_prolight';
    font-size: 16px;
    line-height: 20px;
}
input,
textarea {
    -moz-box-sizing: content-box;
}
textarea {
	overflow: auto;
}

.form .fields-list,
.form .fields-list .fields-list__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
    background: none;
}
.form .fields-list .fields-list__item {
    margin-top: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.field_text {
    background: rgba(40, 40, 40, 0.5);
    height:18px;
    border:1px solid #a2a2a2;
    padding:2px 2%;
    width:95%;
}
.field_textarea {
    background: rgba(40, 40, 40, 0.5);
    height:93px;
    border:1px solid #a2a2a2;
    padding:2px 2%;
    width:95%;
    resize: none;
}
/* form styles > */

/* media queries < */

@media screen and (max-width : 319px) {

    .screen__inner {
	padding: 0 5px;
    }

    .thumbnails-list__item {
	width: 100%;
    }
    .thumbnails-list__item .thumbnail {
	margin: 2px 0 0 0;
    }
}

@media screen
and (min-width : 320px)
and (max-width : 479px) {

    .screen__inner {
	padding: 0 17px;
    }

    .thumbnails-list__item {
	width: 100%;
    }
    .thumbnails-list__item .thumbnail {
	margin: 2px 0 0 0;
    }
}

@media screen
and (min-width : 480px)
and (max-width : 719px) {

    .screen__inner {
	padding: 0 17px;
    }

    .thumbnails-list__item {
	width: 50%;
    }
}

@media screen
and (min-width : 720px)
and (max-width : 767px) {

    .screen__inner {
	padding: 0 9px;
    }

    .thumbnails-list__item {
	width: 50%;
    }
}

@media screen
and (min-width : 768px)
and (max-width : 1023px) {

    .thumbnails-list__item {
	width: 33.3333333333333333%;
    }
}

@media screen
and (min-width : 1023px)
and (max-width : 1199px) {

    .thumbnails-list__item {
	width: 25%;
    }
}
@media only screen
and (min-width : 1200px)
and (max-width : 1599px) {

    .thumbnails-list__item {
	width: 20%;
    }
}

@media screen
and (min-width : 1600px)
and (max-width : 1919px) {

    .thumbnails-list__item {
	width: 16.666666666%;
    }
}
@media screen
and (min-width : 1920px) {

    .thumbnails-list__item {
	width: 14.2857142857%;
    }
}


/* media queries > */
